.global_container {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 100px;
    // margin-bottom: 100px;
    color: var(--white1);
}

.userName {
    font-size: var(--size1);
    margin-left: 0px;
}

.middle {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
    font-size: var(--size3);
    font-family: var(--DM);
	 letter-spacing: 10px;
    color: var(--white1);
    text-transform: uppercase;
   //  transition: all 0.5s ease;
	
	animation :  3s ease infinite glow;

}
// .middle:hover {
//     text-shadow: 0 0 10px #fff, 0 0 15px #fff;
// }

@keyframes glow {
	0% {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff;
	}
	50% {
		text-shadow: 0 0 15px #fff, 0 0 20px #fff;
	}
	100% {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff;
	}
}
